[defaults]
host_key_checking = False
inventory = inventory
roles_path = roles
retry_files_enabled = False
deprecation_warnings = False
command_warnings=False

[persistent_connection]
connect_timeout = 60

[ssh_connection] 
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o IdentitiesOnly=yes
